.row
  .large-4.columns
    = form_for @question, :remote => true do |f|
      = f.text_area :prompt, :autofocus => true, :placeholder=>'Enter question here', :cols => "35"
      = hidden_field_tag :quiz_id, @quiz.id
      = f.submit nil, :class => 'button tiny success'
