%h3= @quiz.name
%h4= "Cost: " + number_to_currency(@quiz.cost)
/ %h4= @quiz.id
/ %h5= "Answer " + number_to_percentage(@quiz.num_pass, :precision => 2) + " correctly to pass."
%h5
  Number of questions:
  %span.questions_count= @quiz.questions.count.to_s
%p.no_margin.tiny_text QUIZ TAGS
.tiny_spacer
- @quiz.tags.each do |tag|
  .label.success.round= tag.name
.tiny_spacer
