= form_tag '/results' do
  %ol
    - @questions.each do |question|
      %li
        = question.prompt
        %ul
          - question.answers.each do |answer|
            %li
              .inline-block
                =check_box_tag answer.id, question.id
              .inline-block=label_tag answer.name

  =submit_tag nil, :class => 'button'
