= form_tag '/results' do
  %ol
    - @questions.each do |question|
      %li
        = question.prompt
        %ul
          - question.answers.each do |answer|
            %li
              .inline-block
                =check_box_tag "question[#{question.id}][]", answer.id
              .inline-block=label_tag answer.name

  =hidden_field_tag :quiz_id, @questions.first.quiz.id
  =submit_tag nil, :class => 'button'
