%h1 USER PROFILE


//USER PROFILE

.row
  .large-1.columns
  .large-3.columns
    =image_tag('#')
    #map
    =link_to('Add Interview', :class => 'button small success radius')

  .large-7.columns
    = @user.name
    = @user.address
    / etc etc
  .large-1.columns


// USER CREATED INTERVIEWS

.row
  .large-6.columns
    %h2 My Quizzes
  .large-6.columns


// PREVIOUS QUIZZES TAKEN

.row
  .large-10.large-centered.columns
    %thead
      %th Quiz
      %th Date Taken
      %th Score
      %th wrong
      %th right
    // LOOP IT....YOW

.row
  .large-10.large-centered.columns
    // MORRIS CHART HERE




