= js extend_gritter(:position => :top_right, :fade_in_speed => "medium", :fade_out_speed => "slow")
= gflash

.row
  .large-12.large-centered.columns
    .sphoto= image_tag('sandip.png')
    %h1.center.frontpg SANDIP&#180;S
    %h1.center.frontpg EROTIC
    %h1.center.frontpg QUIZZES
    .tiny_spacer
    .tiny_spacer
    %h5.center explore a lush world of sensual knowledge
    %h5.center enrich and expand your passions
